<legend class="highlight_one">Santosh Reddy Bujala</legend>
<legend class="highlight_two mar-top10">Senior Software Engineer</legend>
<p>
  Results-driven software engineer with over 11+ years of experience in UI,
  mobile, and Java development, including 9 years of specialized expertise in
  the banking domain and product development. Proven track record in delivering
  scalable, user-centric solutions and driving innovation in financial
  technologies.
</p>
<div class="align-items-center">
  <mat-icon
    aria-hidden="false"
    aria-label="Email icon"
    fontIcon="room"
  ></mat-icon>
  <label class="margin-left8">Georgia, USA</label>
</div>
