<div class="align-items-center">
  <mat-icon
    aria-hidden="false"
    aria-label="Mobile icon"
    fontIcon="mobile_friendly"
  ></mat-icon>
  <label class="margin-left8">+1 470 796 9789</label>
</div>
<div class="align-items-center mar-top15">
  <mat-icon
    aria-hidden="false"
    aria-label="Email icon"
    fontIcon="email"
  ></mat-icon>
  <label class="margin-left8">bujalasanthoshreddy&#64;gmail.com</label>
</div>
<div class="align-items-center mar-top15">
  <mat-icon aria-hidden="false" aria-label="Email icon" fontIcon="email">
    ></mat-icon
  >
  <a href="linkedin.com/in/santosh-reddy-7766574a/" class="margin-left8"
    >linkedin.com/in/santosh-reddy-7766574a/</a
  >
</div>
<div class="align-items-center mar-top15">
  GitHub:
  <a href="https://github.com/santoshreddybujala" class="margin-left8"
    >https://github.com/santoshreddybujala</a
  >
</div>
<div class="align-items-center mar-top15">
  Web:
  <a href="https://github.com/santoshreddybujala" class="margin-left8"
    >https://github.com/santoshreddybujala</a
  >
</div>
