<p>
  <mat-icon
    aria-hidden="false"
    aria-label="Mobile icon"
    fontIcon="mobile_friendly"
  ></mat-icon>
  +470 796 9789
</p>
<p>
  <mat-icon
    aria-hidden="false"
    aria-label="Email icon"
    fontIcon="email"
  ></mat-icon>
  bujalasanthoshreddy&#64;gmail.com
</p>
<p>
  <mat-icon
    aria-hidden="false"
    aria-label="Email icon"
    fontIcon="email"
  ></mat-icon>
  <a href="linkedin.com/in/santosh-reddy-7766574a/"
    >linkedin.com/in/santosh-reddy-7766574a/</a
  >
</p>
<p>
  GitHub:
  <a href="https://github.com/santoshreddybujala"
    >https://github.com/santoshreddybujala</a
  >
</p>
